$space-large: 2.5rem;
$title-color: purple;
body {
    font-family: 'Open Sans';
}

.page-title {
    color: $title-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
}

.ui.menu .item:before {
    background-color: transparent;
}

#search-box {
    margin: 0 auto;
    display: block;
    padding-top: 15px;
}

.ui.pointing.menu {
    background-color: #EEE;
}

.ui.menu .item>.input input {
    padding: 2px 2px!important;
    background-color: white!important;
    text-align: center;
    font-size: 16px;
}

div.ui.basic.segment {
    text-align: center;
    padding: 15px 0;
}

#main-time {
    margin: auto 10px;
}

.ui.segment:last-child {
    margin: 14px auto;
}

.ui.segment:first-child {
    margin: 14px auto;
}

.ui.segment.basic {
    border: 1px solid transparent;
}

.ui.segment,
.ui.segment.basic {
    max-width: 33.33333%!important;
    text-align: center;
}

.temperatureMin-day {
    display: inline-block;
    font-size: 1.3em;
    color: #bababa;
    margin-left: 0.3em;
    display: inline-block;
    margin-bottom: 0.9em;
    line-height: 1em;
    vertical-align: top;
}

.temperatureMax-day {
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 0.9em;
}

.day-summary {
    display: block;
    text-align: center;
}

#current-container {
    text-align: center;
}

.skycon-main {
    display: inline-block;
    width: 6.5rem;
    height: 3.5rem;
}

.summary-main {
    font-size: 2.3em;
    vertical-align: top;
    display: inline-block;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-family: Railway;
    font-weight: 300;
}

.temperature-main {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5em;
    vertical-align: top;
    margin: 0 20px 0 0;
}

#today-container {
    text-align: center;
}

.nexthour-main {
    display: block;
    font-size: 1.3rem;
    margin: 0 auto 10px auto;
}

.feelslike-main {
    display: block;
    font-size: 1.5em;
    margin: 0 auto 15px auto;
}

#current-time {
    display: inline-block;
    margin: 0 5px;
}

.ui.divider:not(.vertical):not(.horizontal) {
    border-top-color: transparent;
}

.ui.grid>.row.unpadded {
    padding-top: 0;
}

.temperature-min {
    display: inline-block;
    margin-left: 0.6rem;
    font-weight: normal;
    color: #bababa;
}

#week-block {
    margin-top: 2em;
}

.day-week {
    display: block;
    font-size: 1.5em;
}

.date {
    display: block;
    margin: 15px auto
}

.day-week-presentation {
    display: block;
    font-size: 1.8em;
}

.date-presentation {
    display: block;
    font-size: 1.7em;
    margin: 20px auto;
}

#presentation-block {
    margin-top: 40px;
}

#current {
    margin-top: 20px;
}

.current-header {
    display: block;
    font-size: 1.7em;
    margin: 20px auto
}