$space-large: 2.5rem;
$title-color: purple;
@media screen and (max-width: 455px) {
    .ui.segment,
    .ui.segment.basic {
        max-height: 180px!important;
        // padding: 1em 0.2em!important;
    }
    .day-week {
        margin-bottom: 0.4em;
        font-size: 1em!important;
    }
    .date {
        display: none!important;
    }
    .today-weather {
        font-size: 1.3em!important;
    }
    .current-icon {
        width: 65px!important;
        height: 30px!important;
    }
    .temperature-main,
    .feelslike-main,
    .summary-main {
        font-size: 1.3em!important
    }
    .back .ui.header {
        font-size: 0.8em!important;
        padding: 0 0.8em!important;
        max-height: 30px!important;
        overflow: hidden;
        text-overflow: "...";
        display: none!important;
    }
    .temperatureMax-day,
    .temperatureMin-day {
        font-size: 1.3em!important;
    }
    .back .list .item {
        font-size: 0.8em!important;
    }
    .back .conditions {
        display: none!important;
    }
    .back .back-icon {
        width: 30px!important;
        height: 15px!important;
    }
    .back .daytime-list.list.ui {
        padding-left: 0.5em!important;
        padding-right: 0.2em!important;
        margin-top: 1em;
    }
}

@media screen and (min-width: 456px) and (max-width: 705px) {
    .back .ui.header {
        font-size: 0.8em!important;
        padding: 0 0.8em!important;
        padding-left: 1em!important;
        margin-bottom: 0.3em!important;
    }
    .back .ui.list.daytime-list {
        padding-left: 0.5em!important;
        padding-right: 0.5em!important;
        margin-top: 1em;
    }
    .back .list .item {
        font-size: 0.8em!important;
    }
    .back .conditions {
        display: none!important;
    }
    .day-week {
        font-size: 1.4em!important;
    }
    .ui.large.horizontal.list>.item {
        font-size: 1.5em!important;
    }
    .ui.segment,
    .ui.segment.basic {
        // padding: 1em 0.2em!important;
    }
    .today-weather {
        font-size: 1.8em!important;
    }
    .current-icon {
        width: 75px!important;
        height: 35px!important;
    }
    .temperature-main,
    .summary-main {
        font-size: 1.8em!important
    }
    .feelslike-main {
        font-size: 1.5em!important
    }
}

@media screen and (min-width: 706px) and (max-width: 991px) {
    .back .ui.header {
        font-size: 1em!important;
        padding: 0 0.5em!important;
        margin-bottom: 0.5em!important;
    }
    .back .conditions {
        font-size: 1.2em!important;
        margin-bottom: 1em!important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1230px) {
    .back .list .item {
        font-size: 1em!important;
    }
    .back .conditions {
        display: none!important;
    }
    .back .back-icon {
        width: 35px!important;
        height: 15px!important;
    }
    .back .header {
        padding-left: 0.9em!important;
        padding-right: 0.5em!important;
        margin-bottom: 0.5em!important;
        font-size: 0.8em!important;
    }
}

.page-title {
    color: $title-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
}

.ui.menu .item:before {
    background-color: transparent;
}

.ui.large.horizontal.list>.item {
    font-size: 1.3em!important;
}

#search-box {
    margin: 0 auto;
    display: block;
    padding-top: 15px;
    input {
        font-size: 1.5em;
        font-weight: bold;
        color: #35656b;
    }
}

.ui.pointing.menu {
    background-color: powderblue;
}

.ui.menu .item>.input input {
    padding: 2px 2px!important;
    background-color: white!important;
    text-align: center;
    font-size: 16px;
}

div.ui.basic.segment {
    border: 1px solid #eae0d8;
    border-top: none;
    border-left: none;
}

#main-time {
    margin: auto 10px;
}

.ui.segment,
.ui.segment.basic {
    max-width: 33.33333%!important;
    text-align: center;
    color: white;
    text-align: center;
    padding: 0 0!important;
    margin: 0!important;
    color: #99663C;
    border-top: none;
    border: 1px solid #eae0d8!important;
    transition: background .3s ease;
}

.temperatureMin-day {
    display: inline-block;
    font-size: 1.7em;
    color: #b79376;
    margin-left: 0.3em;
    display: inline-block;
    margin-bottom: 0.9em;
}

.temperatureMax-day {
    display: inline-block;
    font-size: 1.7em;
    margin-bottom: 0.9em;
    padding-bottom: 0.5em;
}

#current-container {
    text-align: center;
}

.skycon-today {
    display: block;
    min-width: 325px;
    min-height: 165px;
    margin: auto;
    width: 6.5rem;
    height: 3.5rem;
}

.summary-main {
    font-size: 2.0em;
    vertical-align: top;
    display: inline-block;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-weight: 300;
    margin-right: 0.3em;
}

.temperature-main {
    display: inline-block;
    font-size: 2.0em;
    font-weight: bold;
    line-height: 1.3em;
    vertical-align: top;
    margin: 0 0.3em 0 0;
}

#today-container {
    text-align: center;
}

.nexthour-main {
    display: block;
    font-size: 1.3rem;
    margin: 0 auto 10px auto;
}

.feelslike-main {
    display: block;
    font-size: 1.5em;
    margin: 10px auto 15px auto;
}

#current-time {
    display: inline-block;
    margin: 0 5px;
}

.ui.divider:not(.vertical):not(.horizontal) {
    border-top-color: transparent;
}

.ui.grid>.row.unpadded {
    padding-top: 0;
}

.temperature-min {
    display: inline-block;
    margin-left: 0.6rem;
    font-weight: normal;
    color: #bababa;
}

#week-block {
    margin-top: 2em;
}

.day-week {
    display: block;
    font-size: 1.6em;
    padding-top: 1em;
}

.date {
    display: block;
    margin: 0.5em auto
}

.day-week-presentation {
    display: block;
    font-size: 1.8em;
}

.day-icon {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.date-presentation {
    display: block;
    font-size: 1.7em;
    margin: 20px auto;
}

#presentation-block {
    margin-top: 40px;
}

.ui.list>.item .header {
    color: #35656b;
}

#current {
    padding: 20px 0px;
    background-color: #adebf6;
    color: #35656b
}

.current-header {
    display: block;
    font-size: 1.7em;
    margin: 20px auto
}

#week-list {
    margin-top: -2em;
}

.current-date {
    display: block;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.today-weather {
    display: block;
    font-size: 2.3em;
    font-weight: bold;
}

.today-max {
    display: inline-block;
    margin: 0.3em auto 0.3em 0.3em;
    padding-left: 0.5em;
}

.today-min {
    display: inline-block;
    margin: 0.3em auto 0.3em 0.3em;
    color: #85a2a6;
}

.today-summary {
    display: inline-block;
    margin: 0.3em auto 0.6em 0;
    line-height: 1.2em;
    padding-right: 1em;
    padding-left: 1em;
}

.current-icon {
    height: 40px;
    display: inline-block;
    width: 80px;
    vertical-align: top;
    line-height: 1.3em;
}

.back-daytime,
.back-icon,
.back-temp {
    display: inline-block;
    vertical-align: top;
    line-height: 2em;
}

.back-icon {
    width: 55px;
    height: 25px;
}

.back-daytime {
    color: #35656b;
    font-weight: bold;
}

.back .ui.list.conditions {
    margin-top: 0;
    margin-bottom: 1em;
}

.back .ui.header {
    margin-bottom: 0em;
    color: #35656b!important;
    font-size: 0.9em;
    padding: 0 1em;
}

.back .ui.list {
    margin-bottom: 1em;
}

//custom semantic reveal 
.flip {
    display: block;
    position: relative;
    width: 100%;
    height: 100%
}

.front {
    opacity: 1;
    position: relative !important;
    // top: 0em !important;
    // left: 0em !important;
    z-index: 3 !important;
    -webkit-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
    background-color: #fec463;
    height: 100%;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.3em;
}

.back {
    position: absolute !important;
    z-index: 2 !important;
    top: 0em !important;
    left: 0em !important;
    opacity: 0;
    transition: all 0.5s ease 0.1s;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.front:hover {
    opacity: 0;
}

.front:hover~.back {
    opacity: 1;
    background-color: white!important;
}

//ReactTransitions
.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.00;
    transition: opacity 100ms ease-in;
}